
<section id="sidebar" class="sidebar">
    
    <h4>Artwork</h4>
    {% assign artpages = site.pages | sort: "order" | where:"category","Artwork" %}
    {% for page in artpages %}
        <div class="contentlinks"><a class="contentlinks" href="{{ page.url | absolute_url }}">{{ page.title }}</a></div>
    {% endfor %}

    <br>
    <h4>Music</h4>
    {% assign mypages = site.pages | sort: "order" | where:"category","Music" %}
    {% for page in mypages %}
        <div class="contentlinks"><a class="contentlinks" href="{{ page.url | absolute_url }}">{{ page.title }}</a></div>
    {% endfor %}

    <br>
    <h4>Development</h4>
    {% assign mypages = site.pages | sort: "order" | where:"category","Developer" %}
    {% for page in mypages %}
        <div class="contentlinks"><a class="contentlinks" href="{{ page.url | absolute_url }}">{{ page.title }}</a></div>
    {% endfor %}

    <br>
    
    {% for post in site.posts %}
      <div class="contentlinks"><a class="contentlinks" href="{{post.url}}">{{site.time | date: '%Y-%m-%d' }} - {{post.title}}</a></div>
    {% endfor %}

</section>