
<script src="/static/js/project.js"></script>

<div class="projectcontainer">

</div>

<script>
    document.body.onload = (event)=>{
        const project = new Project({
            containerId: "projectcontainer",
            projectName: "{{ include.projectName }}",
            githubOrg: "{{ include.githubOrg }}",
            githubRepo: "{{ include.githubRepo }}"
        })

        let renderOptions = {
            showMilestones: true,
            showIssues: true,
            showActivity: true
        }

        project.render(renderOptions)
    }
    
</script>