---
---

@import "{{ site.theme }}";

section#sidebar {
    font-size: small;
    text-decoration: none;
    width: 260px;
    position: absolute;
    display: inline-block;
    margin-left: 30px;
    border-style: solid;
    border-width: 1px 0px 0px 1px;
    border-radius: 20px;
    padding: 20px;
    border-color: olivedrab;
}

.sidebarheading {
    font-size: medium;
    color: olivedrab;
    margin-top: 10px;
    margin-bottom: 4px;
}

section#main_content {
    display: inline-block;
    width: 800px;
}

div.contentlinks {
    font-size: small;
    margin-bottom: 0px;
    margin-left: 30px;
}

a.contentlinks {
    text-decoration: none;
}

div#pagetitledisplay {
    font-size: xx-large;
    text-decoration: none;
    color: olivedrab;
    margin-left: 20px;
}


.previewcontainer {
    display: inline-block;
    width: 200px;
    margin: 10px;
    font-size: x-small;
    color: navajowhite;
    vertical-align: top;
    border-width: 1px 0px 0px 0px;
    border-style: solid;
    border-radius: 20px;
    padding: 15px;
    border-color: olivedrab;
}

.previewtitle {
    font-size: medium;
    font-weight: normal;
    margin-bottom: 10px;
    width: 100%;
    text-align: center;
}

.previewdescription {
    font-weight: bold;
    margin: 3px;
    font-size: 12px;
}

.previewinfo {
    margin: 3px;
}

.displaycontainer {
    display: block;
}

.artworkimage {
    max-width: 1000px;
    max-height: 900px;
}


.postdatedisplay {
    font-size: xx-small;
    width: 100%;
    text-align: left;
    margin-left: 36px;
    top: -6px;
    position: relative;
    margin-bottom: 0px;
    height: 5px;
    color: olivedrab;
}



.documentimage {
    width: 100%;
    text-align: center;
}




h1.project {
    margin-top: 10px;
    margin-bottom: 0px;
}


.issuediv {
    border-style: solid;
    border-width: 1px 0px 0px 1px;
    border-radius: 10px;
    padding: 10px;
    margin: 0px;
    margin-top: 15px;
    border-color: olivedrab;
}

.issuetitle {
    margin-bottom: 0px;
}

.issueinfo {
    font-size: small;
}

.issuebody {
    font-size: small;
}