---
---

@import "{{ site.theme }}";

.sidebar {
    font-size: x-small;
    text-decoration: none;
    width: 200px;
    display: inline-block;
    right: 0px;
}


div.main_content {
    display: inline-block;
    width: 800px;
}