---
---

@import "{{ site.theme }}";

section#sidebar {
    font-size: x-small;
    text-decoration: none;
    width: 200px;
    display: inline-block;
    right: 0px;
}


section#main_content {
    display: inline-block;
    width: 800px;
}