<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    {% include head-custom.html %}
    {% seo %}
  </head>

  <body>

    <header>
      <div class="container">
        <a id="a-title" href="{{ '/' | relative_url }}">
          <h1>{{ site.title | default: site.github.repository_name }}</h1>
        </a>
        <h2>{{ site.description | default: site.github.project_tagline }}</h2>
        <div id="pagetitledisplay">{{ page.title }}</div>
      </div>
    </header>

    


    <div class="container">
      <section id="main_content">
        {{ content }}
      </section>
      <section id="sidebar" class="sidebar">
            {% assign mypages = site.pages | sort: "order" %}
            {% for page in mypages %}
                <div class="contentlinks"><a class="contentlinks" href="{{ page.url | absolute_url }}">{{ page.title }}</a></div>
            {% endfor %}
          <br>
            {% for post in site.posts %}
              <div class="contentlinks"><a class="contentlinks" href="{{post.url}}">{{site.time | date: '%Y-%m-%d' }} - {{post.title}}</a></div>
            {% endfor %}
        
      </section>
    </div>
    
  </body>
</html>
